header {
    font-size: 1.5rem;
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 800;
    color:white;
    padding: 20px;
    line-height: 1.5;
    /*background-color: 004175;*/
    background: linear-gradient(
        to bottom,
        #004175 0%,
        #004175 97%,
        #89DEEF 97%,
        #89DEEF 100%
    ); /* Need to figure out how to get background and border to work together, temp fix for now */
    /*border-color: 89DEEF;
    border-bottom: outset;*/

}

body {
    font-family: 'Open Sans';
    margin: 0;
}

h1 {
    padding: 0px 20px; /* margin and option? */
    font-family: 'Open Sans'; /* could be unnecessary */
    font-style: normal;
    font-size: 1.3rem;
}

h2 {
    font-size: 0.8rem;
    font-family: 'Oswald';
    margin: 0;
}

p {
    padding: 0px 20px;
    font-size: 0.8rem;
}

.dogs {
    padding: 0px 20px;
}

.pics {
    width: 30%;
}
ul {
    padding: 0;
    margin: 0;
}

.no-bullets li {
    background-color: #89DEEF;
    border-radius: 0.8rem;
    font-size: 0.4rem;
    display: inline-block;
    padding: 0.2rem;
}

footer {
    width: 100%;
    height: 200px;
}

  #donate {
    background-color: #A6A9F0;
    height: 200px;
    width: 200px;
    opacity: 0.7;
    z-index: 1;

  }
